body {
  margin: 50px; }

.score-row {
  float: left;
  clear: both; }
  .score-row .score {
    display: block;
    margin-top: 10px;
    text-align: center; }
  .score-row .score-btn {
    float: left; }
  .score-row .putts-made {
    float: left;
    width: 33%;
    position: relative; }
    .score-row .putts-made .distance-indicator {
      color: red;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 10px; }
    .score-row .putts-made .score {
      margin-top: 10px;
      display: block;
      text-align: center;
      border: solid red 1px; }
  .score-row .extra-points .checkbox {
    margin-top: 0; }
  .score-row .total-distance-score .score {
    display: block;
    background: #c9302c;
    color: white;
    border: solid red 1px; }
